/*.................... Шрифты....................*/
@font-face {
    font-family: "NunitoSans";
    src: url(../fonts/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: "NunitoSans-Italic";
    src: url(../fonts/NunitoSans-Italic.ttf);
}

@font-face {
    font-family: "YesevaOne";
    src: url(../fonts/YesevaOne-Regular.ttf);
}

/*....................Основное....................*/
body {
    /* max-width: 1440px; */
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

/*....................HEADER/FOOTER....................*/
.header_content,
.footer_content {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    font-size: 11px;
    line-height: 15px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.button_header,
.button_footer {
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 13px 13px 33px;
    color: white;
    text-transform: uppercase;
    font-family: NunitoSans-Italic, Arial, Helvetika, sans-serif;
    margin-right: 10px;
}

.logo {
    color: #E3B873;
    padding-left: 92px;
}

.header,
.footer {
    margin: 0 auto;
    max-width: 1300px;
    background-color: black;
}

.header_navigation,
.footer_navigation {
    list-style: none;
    display: flex;
}

.header_navigation__item,
.footer_navigation__item {
    margin-right: 47px;

}

.header_navigation__item a,
.footer_navigation__item a {
    text-decoration: none;
    color: white;
}

.phone {
    text-decoration: none;
    color: rgba(227, 184, 115, 1);
}

/*....................MAIN....................*/

/*....................Section HERO....................*/
.hero {
    background-image: url(../images/backgroundHERO.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 191px;
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
}

.hero_content {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    position: relative;
    z-index: 1;

}

.hero_title {
    margin: 0;
    font-family: YesevaOne;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    max-width: 519px;
    color: #fff;
    padding-top: 50px;
}


.colortext {
    color: rgba(227, 184, 115, 1);
}

.hero_text {
    font-family: NunitoSans;
    font-size: 22px;
    font-style: normal;
    line-height: 36px;
    color: white;
    margin: 22px 0px 30px 0px;
    height: 89px;
    width: 505px;
}

.hero_buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px;
}

.hero_button {
    font-family: "NunitoSans-Italic";
    font-size: 11px;
    color: white;
    line-height: 50%;
    text-align: center;
    padding: 20px 20px;
    margin: 20px 20px;
}

.hero_button_calc {
    /* max-width: 215px;*/
    border-radius: 2px;
    border: 0;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.3);
    background-color: rgba(227, 184, 115, 1);
}

.hero_button_sub {
    border-radius: 4px;
    border: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-color: rgba(255, 255, 255, 1);
    background-color: transparent;
}


.button_transparent {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    margin-left: 20px;
}

/*....................Section Completed_projects....................*/

.completed_projects {
    max-width: 1300px;
    margin: 0 auto;
    background-color: black;
    color: white;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;

}

.completed_projects_content {
    padding-top: 107px;
    padding-right: 43px;
    padding-bottom: 403px;
    padding-left: 42px;
}

.navigation_completed_nav {
    margin-top: 0;
    padding-left: 0;
    margin-right: 56px;
    margin-left: 550px;
    margin-bottom: 45.36px;
    width: 623px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.completed-nav__item {
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
}

.completed-nav__item:first-child {
    border-bottom: 1px solid;
    color: rgba(227, 184, 115, 1);
}

.completed_main_ifo {
    display: flex;
    justify-content: space-between;
}

.compleaded_text_main {
    display: flex;
    flex-direction: column;
}

.completed_text_title {
    font-size: 27px;
    line-height: 37px;
    color: rgba(227, 184, 115, 1);
}

.completed_text_p {
    font-family: NunitoSans;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    height: 86px;
    max-width: 440px;
    letter-spacing: 0em;
}

.completed_text_block {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

}

.completed_text_block_arrows {
    padding-top: 85px;
    width: 208px;
}

.completed_arrows {
    display: none;
}

.completedproj_img_mob {
    display: none;
}
.completedproj_img {
    margin-top: -150px;
}

.completed_text_block h3 {
    font-family: YesevaOne;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(227, 184, 115, 1);
    text-transform: uppercase
}

.completed_text_block span {
    font-family: NunitoSans;
    font-size: 13px;
    line-height: 21.28px;
    line-height: 120%;
    color: rgba(255, 255, 255, 1);
}

/*....................Section Online control....................*/
.online_control {
    margin-top: -250px;
    max-width: 100%;
}

.online_control_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.online_control_icon {
    max-width: 200px;

}

.online_control_video {
    max-width: 817px;
    height: 434px;
    filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
    background-size: cover;
    position: relative;
    margin: 0 auto;
}

.video_iconPlay {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -36px;
    margin-top: -34px;
}

.online_control_main hr {
    text-align: center;
    color: rgba(227, 184, 115, 1);
    width: 55px;
    height: 1.54px;
    border-style: solid;
    margin-top: 62.5px;
    margin-bottom: 29px;
}

.online_control_main p {
    font-family: NunitoSans;
    font-size: 18px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(54, 54, 54, 1);
    width: 580px;
}

.control_form {
    font-family: NunitoSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 769px;
    height: 51px;
    margin: 0 24px;
}

.control_form label {
    display: block;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.control_form input.control_input {
    display: block;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    padding-bottom: 5px;
}

.control_form input::placeholder {
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}

.control_form .labelmob {
    display: none;
}

.control_form button {
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    color: white;
    text-transform: uppercase;
    font-family: NunitoSans, sans-serif;
    font-size: 13px;
    line-height: 27px;
    width: 200px;
    height: 51px;
    align-content: center;
}

.control_checkbox {
    margin-top: 35px;
}

.control_form .control_label {
    display: none;
}

.contr_label {
    cursor: pointer;
}

.checkbox {
    display: none;
}

.fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}

.fake::before {
    content: "\2714";
    opacity: 0;
    transition: .2s;
}

.checkbox:checked+.fake::before {
    opacity: 1;
}


/*....................Section Types of Repair....................*/
.types_of_repair {
    max-width: 1300px;
    margin-bottom: 230px;
}

.types_of_repair_main {
    margin-top: 76px;
    margin-bottom: 31.21px;
    font-family: YesevaOne;
    font-size: 20px;
    font-style: normal;
    line-height: 28px;
    text-align: center;

}

.types_repair_item .mobile {
    display: none;
}

.types_repair_img {
    width: 39px;
    height: 420px;
}

.types_repair {
    display: flex;
    flex-flow: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 124px;
}

.types_repair_text {
    position: relative;
    width: 300px;
    height: 285px;
    margin-top: -138px;
    margin-right: 31px;
    margin-left: 31px;
    padding-top: 15px;
    padding-left: 34px;
    background-color: #fff;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
    padding-bottom: 43px;
}

.types_repair_text_subtitle {
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    color: #363636;
    margin-bottom: 7px;
    text-transform: none;
}

.types_repair ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 18px;
}

.types_repair li {
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.types_repair_price {
    position: relative;
    width: 228px;
    height: 54px;
    box-sizing: border-box;
    margin-top: -27px;
    margin-left: 33px;
    padding: 17px 10px 17px 13px;
    font-family: YesevaOne;
    font-size: 18px;
    font-style: normal;
    line-height: 25px;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    background: rgba(227, 184, 115, 1);
    color: #fff;
}

/*.............................Measurer_block_step .............................*/

/*........................Measurer_form .........................*/
.measurer {
    max-width: 1300px;
    padding-right: 8px;
}

.measurer_form_row {
    font-family: NunitoSans;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    justify-content: flex-end;
    background-image: url(../images/background_step.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.measurer_form_column {
    padding-top: 80px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

.measurer_form_column_form-item-row {
    display: flex;
    align-items: center;
    margin-bottom: 84px;
    padding-left: 150px;
}

.style {
    width: 56px;
    height: 55px;
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 35px;
    padding: 10px;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    display: inline-block;
    margin-right: 9px;
}

.measurer__text {
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    width: 320px;
}

.measurer_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 106px;
    width: 506px;
    height: 509px;
    background-color: #000;
    margin-left: 205px;
    margin-right: 40px;
}

.measurer_form_input {
    width: 408px;
    height: 244px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 16px;
}

.measurer_form>h3 {
    font-family: NunitoSans;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    padding: 28px 104.5px 35px;
    margin: 0;
    color: rgba(255, 255, 255, 1);
    ;
}

.measurer_form form {
    padding: 0 49px 27px;
}

.measurer_form_input label {
    height: 50px;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.measurer_form input {
    width: 100%;
    color: #FFFFFF;
    background-color: black;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 2px;
}

.measurer_form input::placeholder {
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

label.label_check {
    font-family: NunitoSans;
    font-size: 14px;
    line-height: 23px;
    color: rgba(255, 255, 255, 1);
    width: 259px;
    height: 16px;
}

.measurer_button {
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    color: white;
    text-transform: uppercase;
    font-family: NunitoSans, sans-serif;
    font-size: 13px;
    line-height: 27px;
    width: 200px;
    height: 51px;
    align-content: center;
    margin-top: 40px;
    margin-left: 200px;
}

.measurer_block_piggy {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 440px;
    height: 100px;
    margin-top: -20px;
    margin-left: 753px;
}

/*....................Realize_fantasies....................*/

.realize_fantasies {
    max-width: 1300px;
    background-image: url(../images/backgroundFant.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 880px;
    position: relative;
    margin: 0 auto;
}

.realize_fantasies_img_mobile {
    display: none;
}

.arrows {
    display: none;
}

.overlay_fant {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.container_realize_fantasies {
    font-family: NunitoSans;
    font-size: 27px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 7px;
    padding-right: 10px;
    margin-top: 170px;
    margin-left: 100px;
    position: relative;
    z-index: 1;
}

.container_realize_fantasies>h2 {
    font-family: YesevaOne;
    font-style: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    width: 350px;
    padding-top: 170px;
    text-align: start;
    color: rgba(227, 184, 115, 1);
}

.realize_fantasies_main ul {
    list-style: none;
    margin-top: 37px;
    padding-left: 20px;
    color: white;
}

.realize_fantasies_main li {
    margin-bottom: 11.4px;
    font-size: 20px;
    line-height: 38px;
}

.realize_fantasies_img1 {
    position: absolute;
    top: -10px;
    right: 500px;
}

.realize_fantasies_img2 {
    position: absolute;
    top: -80px;
    right: 100px;
}

.realize_fantasies_img3 {
    position: absolute;
    bottom: -110px;
    right: 500px;
}

.realize_fantasies_img4 {
    position: absolute;
    right: 100px;
    bottom: -35px;
}

/*....................Our client....................*/
.our_client {
    max-width: 1300px;
    background: url(../images/backGR_our_clients.jpg) 100%;
    background-repeat: repeat-x;
    margin: 0 auto;
}

.our_client_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.our_client_title>h3 {
    font-family: YesevaOne;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}

.our_client_main {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin: 39px 100px 0 50px;
    padding-top: 24px;
}

.our_client_main-item {
    display: flex;
    flex-direction: column;
    width: 334px;
}

.client_img {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
    font-family: 'YesevaOne';
    font-weight: bold;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #181818;
}

.client_fullname {
    font-size: 18px;
    line-height: 23px;
    color: #181818;
    margin-left: 24px;
    text-transform: none;
    text-align: left;
}

.client_review-p {
    margin-top: 0;
    margin-bottom: 5px;
    margin-right: 12px;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
}

.questions_form_container {
    max-width: 1300px;
    margin: 0 auto;
}

.questions_form_main h3 {
    font-family: YesevaOne;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-top: 50px;
}

.questions_form_main {
    width: 800px;
    height: 440px;
    background-color: #000;
    margin: 0 200px 0 230px;
    position: relative;
    z-index: 1;
}

.questions_form_main form {
    padding: 30px 182px 0 181px;
}

.questions_form_main>form>.questions_form_input {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 520px;
    height: 140px;
    margin-bottom: 47px;
    align-content: space-between;
}

.questions_form_main label {
    width: 230px;
    height: 45px;
    font-family: NunitoSans;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.questions_form_input input {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.questions_form_main input::placeholder {
    color: #fff;
    font-family: NunitoSans;
    font-size: 14px;
}

.questions_form_main label.question_field {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
}

.questions_form_container .question_checkbox {
    text-align: center;
}

.questions_form_button {
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    color: white;
    text-transform: uppercase;
    font-family: NunitoSans, sans-serif;
    font-size: 13px;
    line-height: 27px;
    width: 200px;
    height: 51px;
    align-content: center;
    margin-top: 40px;
    margin-left: 120px;
}

/*....................Contacts....................*/
.contacts {
    max-width: 1300px;
    margin: 0 auto;
    background-color: #000;
}

.contacts_conteiner {
    height: 955px;
    background-image: url(../images/bg_contacts.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: -200px;
}

.contacts_adress_tel>h3 {
    font-family: YesevaOne;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: rgba(227, 184, 115, 1);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 590px;
    height: 105px;
    position: relative;
    z-index: 1;
    margin: 20px auto -20px;
    padding-top: 250px;
}

.contacts_adress_tel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts_Inst_Mail {
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;

}

.contacts_map_mobile {
    display: none;
}

.contacts_adress_map img {
    height: 466px;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: 100px;
    margin-left: 200px;
}

/*....................Adaptive layout....................*/


/*....................heder....................*/

@media (max-width: 768px) {
    .header-content {
        display: flex;
        height: 57px;

    }

    .header {
        height: 53px;
    }

    .logo {
        font-size: 11px;
        padding-left: 18px;
    }

    .header_navigation,
    .button_header {
        display: none;
    }

    .phone {
        color: #fff;
        text-decoration: none;
        margin-right: 30px;
        margin-left: 18px;
    }

    /*....................hero....................*/
    .hero {
        background-image: url(../images/imagesMOBILE/bg_hero_mobile.png);
        background-size: 100% 100%;
        padding-top: 85px;
    }

    .hero_container {
        padding-left: 18px;
        padding-top: 85px;
        padding-right: 18px;
        max-width: 100%;
    }

    .hero-content {
        box-sizing: border-box;
        padding-left: 20px;
    }

    .hero_title {
        width: 330px;
        font-size: 23px;
        padding-top: 0;
    }

    .hero_text {
        margin-top: 16px;
        width: 320px;
        text-align: left;
        font-size: 14px;
    }

    .hero_buttons {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;
    }

    .hero_button {
        flex: 1 1 100%;
    }

    .hero_button {
        margin-right: 40px;
    }

    /*.hero_button {
        display: flex;
        flex-direction: column;
        height: 51px;
        width: 100%;
        padding: 20px;
    }*/
    .hero_button span {
        display: none;
    }

    /*....................completed_projects....................*/
    .completed_projects_content {
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
    }

    .completed_main_ifo {
        display: flex;
        flex-direction: column;
    }

    .navigation_completed_nav {
        display: none;
    }

    .completed_text_block_arrows {
        display: none;
    }

    .completed_text_title {
        margin-top: 0;
    }

    .compleaded_text_main {
        max-width: 100%;
        font-size: 22px;
        line-height: 138.6%;
        margin: 0;
        order: 3;
        margin-bottom: 150px;
    }

    .completed_text_p {
        font-size: 12px;
    }

    .completed_arrows {
        display: flex;
        position: relative;
        max-width: 330px;
      bottom: 150px;
      margin: 0 auto;
    }
    .completed_proj_arrow_Left {
        padding-right: 125px;
    }

    .completed_proj_arrow_Right {
        padding-left: 125px;
    }
    
    
    .completedproj_img_mob {
        max-width: 340px;
        display: block;
        margin: 0px auto;
    }

    .completedproj_img {
        display: none;
    }

    /*....................control....................*/
    .online_control {
        margin-top: -25px;
    }

    .online_control_icon {
        margin: 0 auto;
    }

    .online_control_main {
        background-color: #000;
        height: 827px;
        margin: 0 auto 81px auto;
        max-width: 100%;
    }

    .online_control_video-video {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .control_form {
        position: relative;
    }

    .video_iconPlay {
        position: absolute;
        width: 22%;
        height: 35%;
        top: 24%;
        left: 37%;
        margin-left: 0;
        margin-top: 0;
    }

    .online_control_main hr {
        text-align: center;
        color: rgba(227, 184, 115, 1);
        width: 115px;
        height: 1.55px;
        border-style: solid;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .online_control_main p {
        color: #FFFFFF;
        max-width: 100%;
        text-align: center;
        padding: 15px;
        margin: 0 auto;
    }

    .control_form {
        display: block;
        width: 320px;
        height: 311px;
        margin: 0 auto;
    }

    .control_form label {
        color: rgba(255, 255, 255, 0.5);
        border: none;
    }

    .control_form label[for="name"] {
        margin-bottom: 25px;
    }

    .control_form label[for="phone"] {
        margin-bottom: 26.5px;
    }

    .control_form label span.phone {
        display: none;
    }

    .control_form label span.num {
        display: block;
    }

    .control_input.control_input {
        width: 100%;
        background-color: #000;
        color: #fff;
        height: 17px;
        padding: 10px 0 15px;
        border-bottom: 1px solid #fff;
    }

    .control_input::placeholder {
        color: #fff;
        line-height: 138.72%;
        color: #fff;
    }

    .control_form .label {
        display: block;
        padding-bottom: 150px;
    }

    .fake {
        margin-right: 6px;
    }

    .control_checkbox {
        display: none;
    }

    .control_form_button {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 35px;
        padding: 15px 0 19px;
        cursor: pointer;
        text-align: center;
        border-radius: 0;
    }

    /*....................Types of repair....................*/
    .types_of_repair {
        margin-bottom: 0;
    }

    .types_of_repair_main {
        margin-bottom: 41px;
    }

    .types_of_repair_main h3 {
        font-weight: normal;
        font-size: 22px;
        line-height: 138.6%;
    }

    .types_repair {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        padding-bottom: 0px;
    }

    .types_repair_item {
        margin-bottom: 59px;
    }

    .types_repair_item .last {
        margin-bottom: 0;
    }

    .types_repair_img img {
        width: 339px;
    }

    .types_repair_item .desktop {
        display: none;
    }

    .types_repair_item .mobile {
        display: block;
    }

    .types_repair_text {
        margin-top: -146px;
        margin-right: 68px;
        margin-left: 0;
        padding-top: 20px;
        padding-left: 29px;

    }

    .types_repair_text_subtitle {
        font-size: 15px;
        font-weight: normal;
        line-height: 21px;
    }

    .types_repair_item li {
        line-height: 22px;
    }

    .types_repair_price {
        width: 190.5px;
        height: 40px;
        font-size: 15px;
        line-height: 138.6%;
        padding: 10px 14px;
        margin-top: -25px;
        margin-left: 0;
    }

    .measurer {
        display: none;
    }

    .measurer_block_piggy {
        display: none;
    }

    /*....................Realize fantasies ....................*/
    .realize_fantasies {
        background-image: none;
        /* background-color: #000; */
        position: static;
        margin-top: -200px;
        margin-bottom: -121px;
    }

    .realize_fantasies_main {
        padding-left: 0;
        padding-right: 0;
        position: static;
    }

    .container_realize_fantasies {
        display: block;
        height: 332px;
        margin: 0 auto;
    }

    .container_realize_fantasies ul {
        display: none;
    }

    .realize_fantasies_img {
        display: none;
    }

    .container_realize_fantasies {
        padding-top: 120px;
        padding-bottom: 0;
        width: 340px;
        height: 332px;
        position: relative;
    }

    .container_realize_fantasies .arrows {
        display: flex;
        justify-content: space-between;
        max-width: 330px;
        position: relative;
        top: -150px;
    }

    .container_realize_fantasies>h2 {
        display: block;
        padding-left: 55px;
        padding-right: 55px;
        padding-top: 55px;
        font-size: 22px;
        line-height: 138.6%;
        font-weight: normal;
        text-align: center;
        color: #E3B873;
    }

    .realize_fantasies_img_mobile {
        max-width: 340px;
        display: block;
        margin: 0 auto;
    }

    .overlay_fant {
        display: none;
    }

    /*....................Our client....................*/
    .our_client_title {
        display: none;
    }

    .our_client_main {
        display: none;
    }

    /*....................Questions form....................*/
    .questions_form_container {
        margin-top: -465px;
        background-image: none;
        background-color: #000;
    }

    .questions_form_main {
        width: 339px;
        height: 716px;
        margin: 0 auto;
        position: static;
        z-index: 0;
    }

    .questions_form_main h3 {
        margin-top: 0;
        margin-bottom: 50px;
        padding-top: 170px;
    }

    .questions_form_main form {
        padding: 0;
    }

    .questions_form_main>form>.questions_form_input {
        flex-direction: column;
        width: 339px;
        height: 261px;
        margin-bottom: 26px;
    }

    .questions_form_main label.form_input-label {
        width: 100%;
    }

    .questions_form_input input {
        border-bottom-color: #fff;
    }

    .questions_form_container .question_checkbox {
        text-align: start;
    }

    .questions_form_button {
        width: 100%;
        margin-top: 68px;
        margin-left: 0;
        padding-top: 6px;
    }

    /*....................Contacts....................*/
    .contacts {
        max-height: 100%;

        margin: 0 auto;
    }

    .contacts_conteiner {
        background-image: none;
        background-color: #000;
        position: static;
    }

    .contacts_map_mobile {
        display: flex;
        justify-content: center;
        margin-top: 200px;
        /* margin-bottom: 35px;*/
    }

    .contacts_adress_tel {
        width: 340px;
        height: 134px;
    }

    .contacts_adress_tel>h3 {
        display: flex;
        justify-content: center;
        width: 340px;
        height: 134px;
        font-size: 18px;
        line-height: 138.6%;
        text-align: center;
        max-width: 310px;
        padding-top: 0;
        padding-left: 25px;
    }

    .contacts_Inst_Mail {
        width: 103px;
        height: 38px;
    }

    .contacts_Inst_Mail img {
        width: 35px;
        height: 35px;
    }

    .contacts_adress_map {
        display: none;
    }

    /* ---------Footer--------------- */
    .footer {
        display: none;
    }

}